.peer {
  width: 76px;
  height: 76px;
  display: flex;
  margin-left: -38px;
  left: 50%;
  bottom: 10%;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  position: absolute;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.peer:nth-of-type(2) {
  margin-left: -186px;
  bottom: 225px;
}
.peer:nth-of-type(3) {
  margin-left: 120px;
  bottom: 225px;
}
.peer:nth-of-type(4) {
  margin-left: -186px;
  bottom: 365px;
}
.peer:nth-of-type(5) {
  margin-left: 120px;
  bottom: 365px;
}
.peer:nth-of-type(6) {
  margin-left: -326px;
  bottom: 180px;
}
.peer:nth-of-type(7) {
  margin-left: 260px;
  bottom: 180px;
}
.peer:nth-of-type(8) {
  margin-left: -366px;
  bottom: 320px;
}
.peer:nth-of-type(9) {
  margin-left: 300px;
  bottom: 320px;
}
.peer:nth-of-type(10) {
  margin-left: -436px;
  bottom: 90px;
}
.peer:nth-of-type(11) {
  margin-left: 370px;
  bottom: 90px;
}
.peer:nth-of-type(12) {
  margin-left: -38px;
  bottom: 400px;
}
.peer:nth-of-type(13) {
  margin-left: -236px;
  bottom: 70px;
}
.peer:nth-of-type(14) {
  margin-left: 170px;
  bottom: 70px;
}
.peer:nth-of-type(15) {
  margin-left: -152px;
  bottom: 500px;
}
.peer:nth-of-type(16) {
  margin-left: 76px;
  bottom: 500px;
}
.peer:nth-of-type(17) {
  margin-left: -300px;
  bottom: 450px;
}
.peer:nth-of-type(18) {
  margin-left: 224px;
  bottom: 450px;
}
.peer:nth-of-type(19) {
  margin-left: -506px;
  bottom: 250px;
}
.peer:nth-of-type(20) {
  margin-left: 430px;
  bottom: 250px;
}

.other {
  transform: scale(1.1, 1.1);
}

.peer > p {
  margin: 0;
  opacity: 0;
  text-transform: capitalize;
}

.user {
  bottom: 35%;
  cursor: auto;
}

.whoami {
  font-weight: 600;
}

.avatar-name {
  font-size: 0.7em;
}

.round-wrapper {
  border-radius: 50%;
  padding: 10px;
  background-color: #2a2e35;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.2rem;
  position: relative;
}

.round-wrapper .under-layer {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.round-wrapper .avatar {
  height: 50px;
}

.invisible {
  visibility: hidden;
}

.connected {
  box-shadow: rgba(103, 242, 23, 0.7) 0px 0px 29px 0px;
}

.fade-in {
  animation: fade-in 0.2s ease-in-out 1.6s forwards;
}

.scale-up-center {
  animation: scale-up-center 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.scale-up-center-delay {
  animation-delay: 1.2s;
}

.pulse {
  animation: pulse 1.5s 1 forwards;
}

.mini-pulse {
  animation: mini-pulse 2s infinite;
  animation-delay: 3s;
}

/* pop over */
div.popover {
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  bottom: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 400;
  left: 50%;
  line-height: 10px;
  margin: 0 0 5px;
  padding: 10px;
  position: absolute;
  text-align: left;
  transform: translateX(-50%);
  vertical-align: baseline;
  width: 360px;
  z-index: 10;
}

div.popover:after {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #fff;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-size: auto;
  border-color: transparent silver silver transparent;
  border-width: 1px;
  bottom: 0;
  content: "";
  height: 10px;
  left: 50%;
  margin: 0 0 -5px -5px;
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
}

@media (max-width: 768px) {
  .popover {
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 0;
    border-style: none;
    bottom: 0;
    box-shadow: none;
    left: 0;
    margin: 0;
    right: 0;
    top: 0;
    transform: none;
    width: auto;
  }
}

@media (max-width: 768px) {
  .popover::after {
    display: none;
  }
}

div.popover-body {
  border-width: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0 0 0 60px;
  position: relative;
  vertical-align: baseline;
}

div.popover-icon {
  border-width: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 50px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  left: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  vertical-align: baseline;
}

i.glyphicon-srt {
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Glyphicons Filetypes";
  font-size: 1em;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

i.glyphicon-srt:before {
  content: "";
}

div.popover strong {
  border-width: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

div.popover-buttons {
  border-width: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: baseline;
}

div.popover button {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  div.popover button {
    font-size: 18px;
  }
}

/* end of pop over */

@keyframes mini-pulse {
  0% {
    box-shadow: rgba(242, 235, 23, 0.7) 0px 0px 0px 0px;
  }
  100% {
    box-shadow: rgba(242, 235, 23, 0) 0px 0px 0px 29px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: rgba(242, 235, 23, 0.7) 0px 0px 0px 0px;
  }
  100% {
    box-shadow: rgba(242, 235, 23, 0) 0px 0px 0px 10rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
